{% extends '/base.html' %}

{% block body %}

<main>
    <div class="row">
    <div class="col-sm-2" style="background-color:#da9cca; padding-left: 30px;" >
        <div class="panel panel-danger">
    <div class="panel-body">
        <div class="form-group">
            <form  action="/account/purchase" method="POST" enctype="multipart/form-data">
                <label><i class="fa fa-user" aria-hidden="true"></i> Merchant </label>
                <input type="text" name="merchantname" class="form-control" placeholder="Merchant Name">
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Bill No</label>
                    <input type="text" name="billno" class="form-control" placeholder="Bill">
                </div>
                
                <div class="form-group col-sm-6">
                    <label><i class="fa fa-user" aria-hidden="true"></i> PAN/VAT no</label>
                    <input type="text" name="panvatno" class="form-control" placeholder="Pan/Vat">
                </div>
                
            </div>
          
            <div class="row">
                <div class="form-group col-sm-6">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Invoice Date/Time</label>
                    <input type="text" name="invoicedate" id = "datepicker-13" class="form-control datepicker" placeholder="Date">
                </div>
                <div class="form-group col-sm-6">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Total Amount </label>
                    <input type="text" name="totalamount" class="form-control" placeholder="total">
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-md-6">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Vat </label>
                    <input type="text" name="vatamount" class="form-control" placeholder="Amount">
                </div>
                <div class="form-group col-md-6">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Tax </label>
                    <input type="text" name="taxamount" class="form-control" placeholder="Amount">
                </div>
            </div>
            
            <div class="row">
                <div class="form-group col-md-6">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Category/Type</label>
                    <input type="text" name="category" class="form-control" placeholder="Payment Category">
                    
                </div>
                <div class="form-group col-md-6">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Payment Mode</label>
                    <input type="text" name="paymentmode" class="form-control" placeholder="Mode">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Site </label>
                    <input type="text" name="site" class="form-control" placeholder="Bill">
                </div>
                
                <div class="form-group col-sm-6">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Contact No</label>
                    <input type="text" name="contactno" class="form-control" placeholder="Pan/Vat">
                </div>
                
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Description</label>
                    <input type="text" name="description" class="form-control" placeholder="Bill">
                </div>
                
                <div class="form-group col-sm-6">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Remarks</label>
                    <input type="text" name="remarks" class="form-control" placeholder="Pan/Vat">
                </div>
                
            </div>
    </div>
        </div>
    </div>
            <!-- <div class="row"> -->
                <!-- <div class="form-group col-md-12"> -->
                    <!-- <label><i class="fa fa-user" aria-hidden="true"></i> Bill Upload</label> -->
                    <div id="image-cropper" >
                        <div class="cropit-preview" style="width: 1550px; height: 830px; border: 5px #ccc solid; padding: 50px;"></div>
                        
                        <!-- <input type="range" class="cropit-image-zoom-input" /> -->
                        <div>
                        <input type="file" name="uploadbill" id="fileupload" class="cropit-image-input" />

                        <!-- </div> -->
                        <!-- <div class="select-image-btn">Select new image</div> -->
                        <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i>Submit</button>
                         <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                    </div>
                <!-- </div> -->
             <!-- </div> -->
<!--            
            <div class="card-footer">
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>Submit</button>
                <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button> 
                
            </div> -->

            
        </form>
        <div id="error_message" style="width:100%; height:100%; display:none; ">
            <h4>Error</h4>
            Sorry there was an error sending your form.
        </div>

        <div id="success_message" style="width:100%; height:100%; display:none; ">
            <h2>Success! Your Message was Sent Successfully.</h2>
        </div>
    </div>
        </div>
    </div>
    </div>
 
    </main>
    
    {% endblock %}
    
    {% block scripts%}
    <script>
        $(document).ready(function(){
            
            $('#image-cropper').cropit({
                'minZoom': 2,
                'allowDragNDrop': false,
                'smallImage': 'allow'
            });
            
        });
    </script>
    
    <script>
        $(function() {
            $( "#datepicker-13" ).datepicker();
            //    $( "#datepicker-13" ).datepicker("show");
        });
    </script>
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropit/0.5.1/jquery.cropit.min.js"></script>
    <script src="/static/js/custom/account.js"></script>
    
    {% endblock%}
    