<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#3f6bbd; padding: 40px 20px;" >
   -->
   <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#3f6bbd;" > 

    <a class="navbar-brand" href="/departments">EasyMg</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/staff/dashboard"> My Profile</a>
          <a class="nav-item nav-link" href="/departments">Departments</a>/
          <a class="nav-item nav-link" href="/staff/schedule/daily">Schedule</a>
          <a class="nav-item nav-link" href="/account/sells">Sells</a>
          <a class="nav-item nav-link" href="/bills/purchase">Purchase</a>
          <a class="nav-item nav-link" ;" href="/bills/purchase">Purchase</a>
    
    
        </div>
      </div>
    </nav> -->

    <nav class="navbar navbar-expand-md navbar-light navbar-light" style="background-color:#3f6bbd;">
      <a class="navbar-brand" href="#">EasyMg</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
              </li>
          </ul>
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Register</a>
              </li>
          </ul>
      </div>
  </nav>