<!DOCTYPE html>
<html lang="en">
<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>SMG</title>
  <!-- Icons-->
  <link href="/static/css/coreui-icons.min.css" rel="stylesheet">
  <link href="/static/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/simple-line-icons.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> -->
  <link rel="icon" type="image/ico" href="./img/favicon.ico" sizes="any" />
  <!-- Main styles for this application-->
  <!-- Global site tag (gtag.js) - Google Analytics-->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-118965717-3"></script>
  <script href="/static/js/main.js"></script>
  <script src="/static/js/custom/account.js"></script>

  <script>
    window.dataLayer = window.dataLayer || [];
    
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    // Shared ID
    gtag('config', 'UA-118965717-3');
    // Bootstrap ID
    gtag('config', 'UA-118965717-5');
  </script>
  <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <script src="/static/vendors/jquery/dist/jquery.js"></script>
  <script src="/static/vendors/popper.js/dist/popper.min.js"></script>
  <script type="text/javascript" src="/static/vendors/jquery.maskedinput.js" class="view-script"></script>
  <script type="text/javascript" src="/static/vendors/moment.min.js" class="view-script"></script>
  <script type="text/javascript" src="/static/vendors/select2.min.js" class="view-script"></script>
  <script type="text/javascript" src="/static/vendors/daterangepicker.js" class="view-script"></script>
  <script src="/static/vendors/jquery/dist/scripts.min.js"></script>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
  
  {% block head %}{% endblock %}
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
  {% include 'includes/header.html' %}
  <div class="app-body">
    <div class="sidebar">
      {% include 'includes/sidebar.html' %}
      <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
    
    <main class="main" style="background-color: #fcfcfc;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          {%block title %}{% endblock %}
        </li>
        
        <li class="breadcrumb-menu d-md-down-none">
          <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="/dashboard">
              <i class="icon-speech"></i>
            </a>
            
          </div>
        </li>
      </ol> 
      {% block content %}
      {% endblock %}
    </main>
    <aside class="aside-menu">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">
            <i class="icon-list"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
            <i class="icon-speech"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
            <i class="icon-settings"></i>
          </a>
        </li>
      </ul>
    </aside>
  </div>
  <footer class="app-footer">
    <div>
      <a href="https://coreui.io">CoreUI</a>
      <span>&copy; 2018 creativeLabs.</span>
    </div>
    <div class="ml-auto">
      <span>Powered by</span>
      <a href="https://coreui.io">CoreUI</a>
    </div>
  </footer>
  {% block footer %}{% endblock %}
  <!-- CoreUI and necessary plugins-->
  <script src="/static/js/src/perfect-scrollbar.min.js"></script>
  <script src="/static/js/src/pace.min.js"></script>
  <script src="/static/js/src/bootstrap.min.js"></script>
  <script src="/static/js/src/coreui.min.js"></script>
  <script src="/static/js/src/Chart.min.js"></script>
  <script src="/static/js/src/custom-tooltips.min.js"></script>
  <!-- <script src="/static/js/main.js"></script> -->
  
                    {% block scripts %}{% endblock %}
                    
                  </body>
                  </html>
                  