.cropit-preview{

    background-color: #f8f8f8;
    background-size: cover;
    border: 5px solid #ccc;
    border-radius: 3px;
    margin-top: 7px;
    width: 300px;
    height: 200px;
    display: inline-block;
  
  }